
<!-- <div class="mt-5">
    <h2>My Post Component</h2>
</div> -->

<div class="container ">
    <h2 class="my-4 d-flex justify-content-center">My Post Component</h2>
    <div class="row g-2">
        <div *ngFor="let a of apiData" class="col-md-3">
            <div class="card h-100 ">
                <div class="card-body">
                    <p>User Id : {{a.userId}}</p>
                    <p>Id : {{a.id}}</p>
                    <h4 class="card-title">{{a.title}}</h4>
                    <p>{{a.body}}</p>
                </div>
            </div>
        </div>
    </div>
</div>